@import '~heading.less';

.homePageWrapper {
  padding: 60px 0;
}

.billingForm {
  padding: 40px 0;
}

.billingFormHeader {
  padding: 2em 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldHeaderText {
  font-size: 1em !important;
}

.fieldHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orangeButton {
  color: #F2711C !important;
  font-weight: 400 !important;
  background: #F9EDE7 !important;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  margin: 0 1px;
}

@media only screen and (max-width: 768px) {
  .billingForm {
    padding: initial;
  }
  .billingFormHeader {
    padding: initial;
  }
}