@import '~heading.less';

.inputLabel {
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #6B6C6F !important;
  background: #F5F6F7 !important;
}

.attachmentRow {
  margin: 0;
  margin-bottom: 2px;
}

.fieldHidden {
  height: 20px;
  margin: 0em 0em 1em;
  line-height: 1.4285em;
  visibility: hidden;
}

.fieldNotDisplayed {
  display: none;
}

.noPadding {
  padding: 0 !important;
}

.noPT {
  padding-top: 0 !important;
}

.noPB {
  padding-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {}