@import '~heading.less';

.fieldHeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orangeButton {
  color: #F2711C !important;
  background: #F9EDE7 !important;
}

@media only screen and (max-width: 768px) {}