.masonryGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  width: auto;
}

.masonryColumn {
  padding-left: 30px;
  background-clip: padding-box;
}

.masonryColumn > div {
    background: white;
    margin-bottom: 30px;
    border-radius: 4px;
}

.projectsWrapper {
  min-height: 75vh;
  padding: 60px 0;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.greyColor {
  color: #C5C6C7;
}

.orangeColor {
  color: #EF6722;
}